---
layout: default
title: BSidesSF
permalink: /
---

<article class="row">
  <section class="small-12 large-8 columns page-content">
    <h2>
      <strong>BSidesSF 2024 will be held May 4-5, 2024!</strong>
    </h2>

    <h3>We can't wait to share the Next Big Thing!</h3>

    <p>
      Want to stay in the loop? Sign up in the box to your right to receive
      updates!
    </p>

    <p>
      We are currently starting our planning cycle, determining the 2024 theme
      and finalizing our sponsorship kit.
    </p>

    <p>
      If you are interested in being more involved, please fill in
      <a href="/jobs">this form</a> and we will contact you about any
      opportunities.
    </p>

    <p>
      If you have questions, comments, or are interested in being more involved,
      don't hesitate to reach out to info [@] bsidessf.org.
    </p>
  </section>

  {% include asides/recent_posts.html %} {% include asides/subscribe.html %} {%
  include asides/donate.html %}
</article>
