name: BSides SF
author: BSides SF

keywords: bsidessf, bsides sf, securitybsides, security bsides, security b-sides, infosec, conference, security, rsa, rsaconference, rsac, san francisco
description: >
  Security B-Sides San Francisco is a two-day information security conference.
  It is a conference by the community for the community.

url: https://bsidessf.com

header: yes
header_sm: images/2017_logo_small2.png
header_med: images/2017_logo_small2.png
header_large: images/2017_logo_small2.png
header_xl: images/2017_logo_small2.png

# Exclude our ruby stuff and other files
exclude: [.bundle, bin, vendor, Gemfile, Gemfile.lock, Rakefile, .last_optimized, CNAME, README.md, LICENSE]

# Build settings
markdown: kramdown
kramdown:
  input: GFM

destination: _site

gems:
  - jekyll-feed

feed:
  path: atom.xml

sass:
  sass_dir: _sass
  style: compressed

permalink: /news/:year/:month/:title

#### SEO Stuff
# Google Analytics
google_universal_analytics: UA-69569651-1
google_universal_analytics_cookiedomain: auto

# Facebook Opengraph
facebook_app_id: 1522022128111003
facebook_locale: en_US
facebook_type: website
facebook_image: /images/2017_logo_small2.png

# Twitter Cards
twitter_user: "@BSidesSF"
twitter_card: true
twitter_image: /images/2017_logo_small2.png