---
layout: default
---

<article class="row">
  <section class="small-12 large-8 columns page-content">
    <h2>
      <strong>BSidesSF 2026 will be held March 21-22!</strong>
    </h2>

    <h3>The Call for Participation (CFP) is now open!</h3>

    <p>
      We are now accepting submissions for presentations, workshops, and other sessions 
      for BSidesSF 2026. The CFP will remain open until <strong>October 14, 2025</strong>. 
      To submit your proposal, please visit the 
      <a href="https://sessionize.com/bsidessf2026" target=_blank>CFP submission page</a>.
    </p>

    <p>
      We're looking forward to bringing you another amazing event in 2026. If you have 
      any feedback about the 2025 event, please be sure to fill in the
      <a href="https://bsidessf.org/feedback" target=_blank>feedback form</a>
    </p>

    <p>
      This event would not have been possible without support from
      <a href="/sponsors">our sponsors</a>. We sincerely thank them for being
      a part of our event and being willing to support us financially.  Please
      take a moment to <a href="/sponsors">check them out</a>, especially 
      if you didn't get a chance to talk with them at BSidesSF 2025.
    </p>

    <p>
      Want to stay in the loop? Join our slack (see the upper right slack icon),
      or sign up in the box to your right to receive email updates!
    </p>

    <p>
      Want to be a part of the organizers team that makes this event happen
      year after year? It's a big responsibility and we'd welcome your aid.
      Please see our <a href="/jobs">organizers interest page</a> for more 
      information and to apply.
    </p>

    <p>
      If you have any other questions or comments, don't hesitate to reach out 
      to info [@] bsidessf.org.
    </p>
  </section>

  {% include asides/recent_posts.html %}
  {% include asides/subscribe.html %}
  {% include asides/donate.html %}
</article>
