---
layout: default
---

<article class="row">
  <section class="small-12 large-8 columns page-content">

    <h2>
      <b>BSidesSF 2022 is being held February 5-7, 2022; Conference Talks are February 5-6.</b>
    </h2>

    <h3>We're so very excited to be back in-person once again.</h3>

    <p>
      Sponsorships now available! Check out <a href="/sponsors.html">our sponsors page</a> for more details.<br/>
    </p>

    <p>
      More information will be released soon. Want to be the first to know?
      Sign up in the box to your right to receive updates!
    </p>

    <p>
      If you have questions, comments, or are interested in being more involved, don't hesitate to reach
      out to info [@] bsidessf.org.
    </p>
  </section>

  {% include asides/recent_posts.html %}
  {% include asides/subscribe.html %}
</article>
