// Wrap
.wrap {
  max-width: 1920px;
  min-height: 100%;
  display: block;
  margin-bottom: -$footer-height;
  margin-left: auto;
  margin-right: auto;
}

// Styling for mobile devices
@media screen and (max-width: 768px) {
  .wrap {
    margin-bottom: -$footer-height * 2.8;
  }
}

.wrap:after {
  content: "";
  display: block;
}

// Pages
.page-content {
  padding: $spacing-unit;
}

.page-heading {
  font-size: 20px;
}

// Posts

.post-header {
  margin: $spacing-unit;
}

.post-title {
  font-size: 2em;
  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  margin-bottom: $spacing-unit;
  padding: 0 $spacing-unit $spacing-unit;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: darken($complimentary-color, 35%);
}

.post-link {
  display: block;
  font-size: 24px;
}

// Header
header[role="banner"] {
  background: linear-gradient($header-gradient-start, $header-gradient-end);
}

// Footer
#footer {
  background-color: $footer-color;
}

.site-footer,
.wrap:after {
  height: $footer-height;
}
.site-footer {
  background: $footer-color;
}

// Styling for mobile devices
@media screen and (max-width: 768px) {
  .site-footer,
  .wrap:after {
    height: $footer-height * 2.8;
  }

  .recent-posts ul li {
    margin-bottom: 2em;
  }
}

.sponsors .row {
  display: flex;
  float: center;
  padding: 10px;
}

.sponsors .column {
  float: left;
  padding: 5px;
  align-content: space-around;
}

.sponsors a {
    color: #000000;

    &:visited {
        color: #000000;
    }

    &:hover {
        color: #000000;
    }
}


div.imgdiv {
  //width: 150px;
  position: relative;
  align-content: center;
  align-items: center;
  height: 150px;
  display: flex;
  justify-content: center;
}

.sponsors img {
  display: inline-block;
  // min-width: 125px;
  // min-height: 125px;
  max-width: 162px;
  max-height: 125px;
  vertical-align: middle;
  //height: 100%;
  margin: 0 auto;
}

.leading img {
  max-width: 200px;
  max-height: 150px;
}

.marquee img {
  max-width: 200px;
  max-height: 150px;
}

.contrib img {
  max-width: 150px;
  max-height: 115px;
}
