.center {
  display: block;
  margin: 0 auto;
} 

.blocky {
  position: relative;
  overflow: hidden;
}

.center-text {
   text-align: center;
}

// Hide for large screens
@media screen and (min-width:481px) {
    .hide-for-large {
      display: none;
    }
}

@media screen and (max-width: 768px) {
  .hide-for-small {
    display: none;
  }
}

.schedule {
  background-color: #76a6a6;
}

.pad-lr-15 {
  padding: 0 15px; 
}

.sponsors-large {
  display: block;
}

.sponsors-small {
  display: none;
}

@media screen and (max-width: 865px) {
  .sponsors-large {
    display: none;
  }
  .sponsors-small {
    display: block;
  }
}

.column-2 {
  columns: 2
}

ul .column-3 { 
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  max-width: 80vw;
}

li.past-event {
  border-bottom: 2px solid $complimentary-color;
  border-top: 1px solid black;
}

h2 .pe-year {
  font-size: +2em;
  font-style: bold;
  text-align: center;
}

.pe-year {
  font-weight: bold;
  text-align: center;
  background-color: $complimentary-color;
}

.no-marker {
  list-style-type: none;
}

.rnd-border {
  border: 1p solid black;
  border-radius: 10px;
}
